{% extends 'mylib/base.html' %}
{% block content %}
<!-- ======= Hero No Slider Section ======= -->
<section id="hero-no-slider" class="d-flex justify-cntent-center align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <h2>Welcome to MyLib</h2>
                <p>A platform for book-lovers to find the books they want with one click. </p>
            </div>
        </div>
    </div>
</section>
<!-- End Hero No Slider Sectio -->
<main id="main">
    <!-- ======= Services Section ======= -->
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"><i class="bx bx-lock-open-alt"></i></div>
                        <h4 class="title"><a href="">Easy Registration</a></h4>
                        <p class="description">For librarians, just register your library and start finding customers
                            immediately</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="bx bx-book-content"></i></div>
                        <h4 class="title"><a href="">Wide Book Collection</a></h4>
                        <p class="description">Easily view books from many libraries and borrow them at any time</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><i class="bx bx-group"></i></div>
                        <h4 class="title"><a href="">Study Groups</a></h4>
                        <p class="description">Join study groups and meet up for study sessions</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Section -->
    <!-- ======= Why Us Section ======= -->
    {% load static %}
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 video-box">
                    <img src="{% static 'img/lib.jpg'%}" class="img-fluid" alt="">
                    <a href="https://www.youtube.com/watch?v=4vIQON2fDWM&ab_channel=TheGuildofAmbience"
                       class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-book-bookmark"></i></div>
                        <h4 class="title"><a href="">For Librarians</a></h4>
                        <p class="description">After registering your library, easily create your account and start working from your computer. Save all books and manage your library.</p>
                    </div>
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-user"></i></div>
                        <h4 class="title"><a href="">For Users</a></h4>
                        <p class="description">Find all libraries and view all their books. Borrow as you wish and from wherever you want.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Why Us Section -->
</main>
<!-- End #main -->
<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="footer-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Our Newsletter</h4>
                    <p>Join our newsletter and follow the latest news!</p>
                </div>
                <div class="col-lg-6">
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
{% endblock %}