{% extends "mylib/base.html" %}
{% block title %}
<title>Mylib•Register</title>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<main id="main" style="background: -webkit-linear-gradient(top, #1e4356, #0b212d);;">
    {% for message in messages %}
    <div data-aos="fade-down" class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="True">&times;</span>
            </button>
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <div class="container register" style="margin-right: 250px;">
        <div class="row">
            <div class="col-md-3 register-left">
                <br>
                <h3>Welcome</h3>
                <p>Register here to enter the world of MyLib!</p>
                <a href="{% url 'login' %}" class="login">Login</a><br/>
                <br>
                <p>If you can't find your library, register it <a href="{% url 'library_register' %}" class="reg_lib">here</a>
                </p>
                <br/>
            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#library_register" role="tab"
                           aria-controls="library_register" aria-selected="true">Librarian</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#user_register" role="tab"
                           aria-controls="user_register" aria-selected="false">User</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="library_register" role="tabpanel"
                         aria-labelledby="library-tab">
                        <h3 class="register-heading">Register as a Librarian</h3>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.first_name|as_crispy_field }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.last_name|as_crispy_field }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.username|as_crispy_field }}
                                    </div>
                                    <div class="form-group">
                                        {{form.library}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.email|as_crispy_field }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.password|as_crispy_field}}
                                    </div>
                                    <div class="form-group">
                                        {{ form.confirm_password|as_crispy_field}}
                                    </div>
                                    <div class="form-group">
                                        {{ form.avatar|as_crispy_field}}
                                    </div>
                                    <button type="submit" name="submit" class="btnRegister" value="library_reg">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade show" id="user_register" role="tabpanel" aria-labelledby="user-tab">
                        <h3 class="register-heading">Register as a User</h3>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.first_name|as_crispy_field }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.last_name|as_crispy_field }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.username|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.email|as_crispy_field }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.password|as_crispy_field}}
                                    </div>
                                    <div class="form-group">
                                        {{ form.confirm_password|as_crispy_field}}
                                    </div>
                                    <div class="form-group">
                                        {{ form.avatar|as_crispy_field}}
                                    </div>
                                    <button type="submit" name="submit" class="btnRegister" value="user_reg">Register
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}